@import "variable.scss";

.greeting_container {
  background-color: rgb(255, 255, 255);
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  z-index: 999;
  border-radius: 0.3rem;
}

.greeting_title_content {
  color: $primary-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.greeting_body_content{
  align-self: flex-start;
}






