@import "variable.scss";

.homePageContent {
  position: relative;
  background-color: #f4f4f4;
  height: 30rem;
  .mainTitle{
    color: $primary-color;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .subTitle{
    color: $favorite-active-color;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.searchWrap {
  z-index: 15;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.homePageImage {
  background-image: url("../image/rent-finder-head.jpg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-listing-button{
  display: flex;
    justify-content: center;
    margin: 2rem auto 1rem auto;
    .navBtn{
      padding: 1rem 2.5rem;
      border: 1px;
      border-radius: 4px;
      box-shadow: 0px 3px 3px -2px #3f72af80, 0px 3px 4px 0px #112d4e70, 0px 1px 8px 0px #3f72af99;
      background-color: #fff;
      font-weight: bold;
    }
    :first-child{
      margin-right: 1rem;
    }
    .active, .city {
      background-color: $primary-color;
      color: $secondary-color;
    }
}

@media all and (max-width: 992px) {
    .homePageContent {
        height: 25rem;
  }
}

@media all and (max-width: 688px) {
  .homePageContent {
        height: 20rem;
        .mainTitle{
          font-size: 1.5rem !important;
        }
        .subTitle{
          font-size: 1rem !important;
        }
        .header-listing-button{
          .navBtn{
            padding: 0.5rem 1rem;
          }
        }
  }
  
}
