@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.main{
  height: 100%;
  font-family: 'Montserrat-Regular', sans-serif;
  padding: 30px 100px;
  color: #072C50;
  background-color: #FAFAF3;
  .title{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
  }
  .price-title{
    display: flex;
    padding: 15px 0;
  }
  .small-description{
    .inner-description{
    }
    padding: 0 10px;
    border-left: 3px solid #072C50;
    font-size: 11px;
    font-weight: bold;
  }
  .box-decription{
    margin: 20px 0;
    border: 2px solid #707070;
    border-radius: 15px;
    padding: 6px 40px 31px 14px;
    font-size: 12px;
    color: black;
    background-color: #FFFFFF;
  }
  .buttons{
    .button-small {
      margin-right: 20px;
      height: 46px;
      background-color: #072C50;
      color: #FFFFFF;
      border-radius: 15px;
      text-transform: unset;
    }
    .small-box-decription{
      width: 100%;
      border: 2px solid #707070;
      border-radius: 15px;
      padding: 7px;
      font-size: 12px;
      color: #707070;
      background-color: #FFFFFF;
    }
  }
  .pd-5{
    padding-left: 15px;
  }
}
