/* css resets */
/* GLOBAL RESETS */
*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

ul {
  font-weight: 900;
  padding: 0; }

a {
  text-transform: uppercase;
  text-decoration: none;
  color: black; }

.app-container {
  background-color: #fafafa; }

.pagination-container {
  padding: 1rem;
  display: flex;
  justify-content: center; }

.snackbar-container {
  background-color: #112d4e; }

.footer-container {
  width: 100%;
  background-color: #012f53;
  color: #f5f6fa;
  text-align: center;
  padding-top: 1rem; }
  .footer-container a {
    color: white; }

.footer-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.footer-middle-content {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-icons {
  display: flex; }

.listing-card-container {
  margin: auto;
  max-width: 700px; }
  .listing-card-container .card_item {
    margin: 0.5rem; }
  .listing-card-container .card-content {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem; }
  .listing-card-container .chip-style {
    font-size: 1.3rem;
    padding: 0.3rem; }
  .listing-card-container .card-message-container {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }

.publishNavContain {
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem auto; }
  .publishNavContain .navBtn {
    padding: 0.5rem 2.5rem;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0px 3px 3px -2px #3f72af80, 0px 3px 4px 0px #112d4e70, 0px 1px 8px 0px #3f72af99;
    background-color: #fff; }
  .publishNavContain :first-child {
    margin-right: 1rem; }
  .publishNavContain .active {
    font-weight: bold;
    background-color: #012f53;
    color: #f5f6fa; }

.image-container {
  margin: 8px -4px 0px;
  display: flex;
  flex-wrap: wrap; }

.image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain; }

.image-text {
  color: #fff;
  bottom: 8px;
  padding: 4px;
  position: absolute;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.54);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.personal-info-container {
  padding: 1rem; }

.favoriteContainer {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.favorite-bg-color {
  background-color: #dbe2ef; }

.active-favorite-btn {
  color: #d33e03de; }

.inactive-favorite-btn {
  color: #112d4e; }

.point-container {
  color: #000000;
  margin-left: 2px;
  margin-right: 2px; }

.card-detail-container {
  display: flex;
  border: 1px solid black;
  margin-left: 2rem;
  flex-direction: column; }

.text-warp-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow: hidden; }

.container_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999; }

.container_cover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999; }

.form_container {
  display: flex;
  justify-content: center;
  z-index: 999; }

.form_content {
  background-color: white;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  z-index: 999;
  border-radius: 0.3rem; }

.form_close_btn {
  align-self: flex-end; }

.btn-center {
  display: flex;
  justify-content: center;
  padding: 1rem; }

.form-title-content {
  color: #012f53;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #a7a5a5;
  border-style: dashed;
  background-color: #fafafa;
  color: #000000;
  outline: none;
  transition: border .24s ease-in-out; }

.homePageContent {
  position: relative;
  background-color: #f4f4f4;
  height: 30rem; }
  .homePageContent .mainTitle {
    color: #012f53;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500; }
  .homePageContent .subTitle {
    color: #d33e03de;
    text-align: center;
    margin-bottom: 2rem; }

.searchWrap {
  z-index: 15;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.homePageImage {
  background-image: url("../image/rent-finder-head.jpg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.header-listing-button {
  display: flex;
  justify-content: center;
  margin: 2rem auto 1rem auto; }
  .header-listing-button .navBtn {
    padding: 1rem 2.5rem;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0px 3px 3px -2px #3f72af80, 0px 3px 4px 0px #112d4e70, 0px 1px 8px 0px #3f72af99;
    background-color: #fff;
    font-weight: bold; }
  .header-listing-button :first-child {
    margin-right: 1rem; }
  .header-listing-button .active, .header-listing-button .city {
    background-color: #012f53;
    color: #f5f6fa; }

@media all and (max-width: 992px) {
  .homePageContent {
    height: 25rem; } }

@media all and (max-width: 688px) {
  .homePageContent {
    height: 20rem; }
    .homePageContent .mainTitle {
      font-size: 1.5rem !important; }
    .homePageContent .subTitle {
      font-size: 1rem !important; }
    .homePageContent .header-listing-button .navBtn {
      padding: 0.5rem 1rem; } }

.greeting_container {
  background-color: white;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  z-index: 999;
  border-radius: 0.3rem; }

.greeting_title_content {
  color: #012f53;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.greeting_body_content {
  align-self: flex-start; }

.aboutus-title {
  background-color: rgba(255, 255, 255, 0.835);
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.2rem;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.paper3-container {
  border: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 3px -2px #37465b, 0px 3px 4px 0px #112d4e, 0px 1px 8px 0px #37465b;
  background-color: #fff; }

.paper5-container {
  border: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 3px -2px #3f72af80, 0px 3px 4px 0px #112d4e70, 0px 1px 8px 0px #3f72af99;
  background-color: #fff; }

.listdetail-icon {
  font-size: 1.2rem;
  color: #012f53; }

.font-color {
  color: #1E3859;
  text-transform: none; }

.ck-editor__editable {
  min-height: 150px; }

.MuiDialog-scrollPaper {
  align-items: flex-end !important; }
