@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.personal-detail {
  padding: 10px;
  margin-top: 25px;
  .btn {
    display: flex;
    justify-content: space-between;
    .all-button {
      .w-100{
        width: 100%;
      }

      .d-inherit {
        display: inline-flex;
        @media screen and (min-width: 1024px) {
          .default {
            width: 400px !important;
          }
        }
        @media screen and (max-width: 1024px) {
          .custom-small-button {
            padding: 10px 27px !important;
          }
          .custom-color {
            .MuiButton-root{
              padding: 10px 20px !important;
            }
          }
          .custom-button {
            padding: 10px 20px !important;
          }
        }

        .custom-color {
          .MuiButton-root{
            color: #072C50;
            font-size: 16px;
            background: #FFFFFF;
            padding: 10px 40px;
            text-transform: unset;
            border: 1px solid #757575;
            border-radius: 30px;
            box-shadow: unset;
            font-family: Montserrat-Medium, sans-serif;
            font-weight: bold;
            &:hover {
              background-color: #072C50;
              color: #FFFFFF;
            }
          }
        }
        .custom-small-button {
          font-family: Montserrat-Medium, sans-serif;
          color: #072C50;
          background: #FFFFFF;
          padding: 10px 40px;
          font-size: 18px;
          margin-top: 10px;
          text-transform: unset;
          border: 1px solid #757575;
          border-radius: 30px;
          box-shadow: unset;
          &:hover {
            background-color: #072C50;
            color: #FFFFFF;
          }
        }
        .custom-button {
          font-family: Montserrat-Medium, sans-serif;
          font-weight: bold;
          font-size: 16px;
          background: #072C50;
          color: white;
          width: fit-content;
          padding: 10px 40px;
          text-transform: unset;
          border: 1px solid #757575;
          border-radius: 30px;
          box-shadow: unset;
          &:hover {
            background-color: #072C50;
            color: #FFFFFF;
          }
        }
        .ml-40{
          margin-left: 40px;
        }
      }
      .mt-20 {
        margin-top: 20px;
      }
      .ml-7 {
        margin-left: 7px;
      }
    }
  }
  .mt-70 {
    margin-top: 70px;
  }
  .empty-list{
    font-family: Montserrat-Medium, sans-serif;
    text-align: center;
    color: #072C50;
    font-size: 20px;
  }
  .inquery-list {
    padding: 0px 10px;
  }
  .inquiry-list {
    .display {
      display: flex;
      align-items: center;
      position: relative;

      .short-name {
        font-family: Montserrat-Regular, sans-serif;
        height: 70px;
        width: 70px;
        color: #FFFFFF;
        border-radius: 100px;
        background: #072C50;
        font-size: 30px;

        span {
          position: absolute;
          top: 16px;
          left: 16px;
        }
      }
    }

    .name {
      font-family: Montserrat-Regular, sans-serif;
      color: #072C50;
      margin-left: 5px;
    }

    .mt-30 {
      margin-top: 30px;
    }

    .room {
      font-family: Montserrat-SemiBold, sans-serif;
      color: #072C50;
      font-size: 25px;
    }

    .looking-for {
      font-family: Montserrat-Regular, sans-serif;
      color: #072C50;
      font-size: 20px;
    }

    .mb-20 {
      margin-bottom: 20px;
    }

    .read-button {
      font-family: Montserrat-Regular, sans-serif;
      padding: 10px 50px;
      background: #072C50;
      color: #FFFFFF;
      font-size: 20px;
      width: fit-content;
      border-radius: 100px;
    }
    @media screen and (min-width: 1024px) {
      .card {
        width: 840px;
      }
    }

    .card {
      margin-top: 20px;
      padding: 35px;
      color: #707070;
      font-size: 20px;
      border-radius: 20px;
      border: 1px solid #707070;
      word-break: break-all;
      font-family: Montserrat-Regular, sans-serif;
    }

    .mail-text {
      font-family: Montserrat-Regular, sans-serif;
      font-size: 22px;
      color: #707070;
    }
  }
}

.MuiButton-root {
  text-transform: unset !important;
}